body {
 background-color: #000000; 
 font-family: Verdana, sans-serif; 
 font-size: 16px;
 color:#FFFFFF;
 }
h1 {
 font-size: 30px;
 color: #F5276C; 
 }
 h2 {
 font-size: 24px;
 color: #F5B027; 
 }
 h3 {
 font-size: 18px;
 color: #FFFF00; 
 }
 a:link {
 color: #87CEEB; ;
 text-decoration: none;
 }
a:visited {
 color: #A9EAFE;
 }
a:hover {
 color: #79F8F8;
 text-decoration: underline;
}
titre {
 font-size: 50px;
 color: #F5276C; 
 }